* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.btn-primary {
  border: 1px solid #ffffff;
  padding: 18px 22px;
  border-radius: 5px;
  color: #0356a4;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #005fac;
  border: 1px solid #ffffff;
}

.btn-secondary {
  border: 0;
  padding: 18px 22px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #005fac;
  font-size: 20px;
  font-weight: 600;
}

.btn-secondary:hover {
  color: #005fac;
  background-color: #ffffff;
  border: 1px solid #005fac;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}


/* banner styles */
.banner {
  background-image: url(../images/banner/banner3.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-left {
  width: 50%;
}
.banner-right {
  width: 50%;
  padding: 230px 200px;
}
.banner-title {
  font-weight: 700;
  font-size: 40px;
}

.banner-description {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* failure section styles */
.failure {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.failure-text {
  padding: 50px 80px;
}

.failure-title {
  font-size: 30px;
  border-left: 8px solid #005fac;
  padding-left: 10px;
  
}

.failure-description {
  margin: 10px 0;
}
.failure-list li {
  list-style: none;
}
.fa-check {
  color: #16d887;
}

/* plan section styles */
.plan-title {
  text-align: center;
  margin: 50px 0;
  font-size: 30px;
 
}

.plan-list {
  display: flex;
  text-align: center;
  margin: auto;
  width: 80%;
  justify-content: space-between;
  margin-top: 40px;
}

.plan-heading {
  margin: 8px 0;
}

/* recent task styles */

.task-title {
  text-align: center;
  margin: 90px 0;
  font-size: 30px;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-list {
  text-align: left;
}
.task-list-items {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  text-align: center;
}
.single-task {
  border: 1px solid #005fac;
  height: 200px;
  width: 250px;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 30px;
}
.single-task img {
  width: 100px;
}
.neptune {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.single-task h3 {
  font-size: 24px;
  margin: 20px 0;
}
.task-image img {
  width: 550px;
}

/* call me section styles*/

.call-me {
  margin: 80px 0 80px;
  background: url(../images/watch.png),
    linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%);
  background-blend-mode: overlay;
  align-items: center;
  padding: 40px 40px;
  color: white;
  border-radius: 8px;
}
.call-title {
  margin: 20px 0;
  font-size: 30px;
}
.call-me button {
  margin-bottom: 20px;
}

/* footer styles */
footer {
  background-color: black;
}
.footer {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  color: #ffffff;
  padding: 80px 0;
}
.future {
  width: 50%;
}
.future-text {
  margin: 15px 0;
}
.fa-envelope .fa-phone {
  color: #ffffff;
  margin-right: 5px;
}
.phone {
  margin: 15px 0;
}

.social-icons {
  display: flex;
  gap: 10px;
}
.subscribe {
  width: 50%;
  padding-left: 300px;
}
.subscribe input {
  margin: 15px 0;
  padding: 15px;
  width: 90%;
  border-radius: 8px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 18px;
  color: white;
}
